In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import linregress, pearsonr
import plotly.express as px

## Defending

In [3]:
defending = pd.read_csv('team/defensive_premier_league_stats.csv')
defending = defending.drop(columns=['Unnamed: 0'])
defending.index = defending.index + 1
defending

,Squad,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Tkl.1,Att,Tkl%,Lost,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err
1,Arsenal,38.0,568,343,238,212,118,249,509,48.9,260,362,86,276,237,805,599,23
2,Aston Villa,38.0,633,338,305,251,77,313,646,48.5,333,438,118,320,324,957,714,14
3,Bournemouth,38.0,618,371,316,249,53,256,606,42.2,350,499,170,329,353,971,1027,11
4,Brentford,38.0,587,337,270,228,89,253,599,42.2,346,456,168,288,341,928,822,14
5,Brighton,38.0,616,340,270,242,104,266,561,47.4,295,392,104,288,303,919,432,15
6,Chelsea,38.0,740,445,363,267,110,333,656,50.8,323,466,108,358,341,1081,661,21
7,Crystal Palace,38.0,690,421,354,246,90,281,532,52.8,251,463,119,344,359,1049,807,7
8,Everton,38.0,708,424,362,257,89,309,611,50.6,302,510,180,330,390,1098,874,17
9,Fulham,38.0,625,350,295,229,101,299,585,51.1,286,455,125,330,340,965,749,15
10,Leeds United,38.0,840,480,376,343,121,412,863,47.7,451,536,131,405,392,1232,734,18
11,Leicester City,38.0,700,412,345,292,63,308,669,46.0,361,517,170,347,367,1067,777,12
12,Liverpool,38.0,590,370,228,250,112,281,648,43.4,367,350,74,276,333,923,568,20
13,Manchester City,38.0,471,272,185,198,88,212,462,45.9,250,339,95,244,223,694,402,9
14,Manchester Utd,38.0,658,400,343,231,84,301,598,50.3,297,496,146,350,352,1010,771,11
15,Newcastle Utd,38.0,607,360,268,254,85,307,642,47.8,335,448,116,332,333,940,680,10
16,Nott'ham Forest,38.0,659,387,380,201,78,296,584,50.7,288,500,156,344,349,1008,944,7
17,Southampton,38.0,713,426,377,279,57,297,611,48.6,314,542,165,377,428,1141,852,11
18,Tottenham,38.0,619,353,325,215,79,275,574,47.9,299,428,148,280,340,959,762,20
19,West Ham,38.0,608,336,290,226,92,270,562,48.0,292,415,139,276,408,1016,810,10
20,Wolves,38.0,661,370,364,222,75,286,609,47.0,323,497,175,322,279,940,817,19

## Tackles

In [4]:
tackles = defending.sort_values(by='Tkl', ascending=False)
tackles.reset_index(drop=True, inplace=True)
tackles.index = tackles.index + 1
tackles.loc[:5, ['Squad', 'Tkl']]

            Squad  Tkl
1    Leeds United  840
2         Chelsea  740
3     Southampton  713
4         Everton  708
5  Leicester City  700

## Tackels Won

In [5]:
tackles_won = defending.sort_values(by='TklW', ascending=False)
tackles_won.reset_index(drop=True, inplace=True)
tackles_won.index = tackles_won.index + 1
tackles_won.loc[:5, ['Squad', 'TklW']]

            Squad  TklW
1    Leeds United   480
2         Chelsea   445
3     Southampton   426
4         Everton   424
5  Crystal Palace   421

## Tacklle Success Rate

In [6]:
tackles_succes = defending.sort_values(by='Tkl%', ascending=False)
tackles_succes.reset_index(drop=True, inplace=True)
tackles_succes.index = tackles_succes.index + 1
tackles_succes.loc[:5, ['Squad', 'Tkl%']]

             Squad  Tkl%
1   Crystal Palace  52.8
2           Fulham  51.1
3          Chelsea  50.8
4  Nott'ham Forest  50.7
5          Everton  50.6

## Tackles in the Attacking Third

In [7]:
tackles_att3rd = defending.sort_values(by='Att 3rd', ascending=False)
tackles_att3rd.reset_index(drop=True, inplace=True)
tackles_att3rd.index = tackles_att3rd.index + 1
tackles_att3rd.loc[:5, ['Squad', 'Att 3rd']]

          Squad  Att 3rd
1  Leeds United      121
2       Arsenal      118
3     Liverpool      112
4       Chelsea      110
5      Brighton      104