# Teams

## Shooting

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
shooting = pd.read_csv('/Users/Ruffio/Documents/Prem/team/shooting_premier_league_stats.csv')

In [4]:
shooting

,Unnamed: 0,Squad,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,PK,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,1,Arsenal,84,589,194,32.9,15.50,5.11,0.14,0.42,3,71.9,69.1,0.12,12.1,11.9
1,2,Aston Villa,49,427,145,34.0,11.24,3.82,0.11,0.32,3,50.2,47.2,0.11,-1.2,-1.2
2,3,Bournemouth,37,358,126,35.2,9.42,3.32,0.10,0.29,0,38.6,38.6,0.11,-1.6,-1.6
3,4,Brentford,56,400,147,36.8,10.53,3.87,0.12,0.33,7,56.8,50.6,0.13,-0.8,-1.6
4,5,Brighton,68,607,219,36.1,15.97,5.76,0.10,0.28,6,73.3,68.9,0.12,-5.3,-6.9
5,6,Chelsea,37,481,151,31.4,12.66,3.97,0.07,0.23,3,49.5,47.2,0.10,-12.5,-13.2
6,7,Crystal Palace,38,423,133,31.4,11.13,3.50,0.09,0.28,1,39.3,36.8,0.09,-1.3,0.2
7,8,Everton,32,426,143,33.6,11.21,3.76,0.07,0.20,3,45.2,42.8,0.10,-13.2,-13.8
8,9,Fulham,52,420,137,32.6,11.05,3.61,0.11,0.34,5,46.2,39.1,0.10,5.8,7.9
9,10,Leeds United,45,459,141,30.7,12.08,3.71,0.10,0.31,1,47.4,45.0,0.10,-2.4,-1.0
10,11,Leicester City,49,412,142,34.5,10.84,3.74,0.11,0.32,3,50.6,45.8,0.11,-1.6,0.2
11,12,Liverpool,71,601,203,33.8,15.82,5.34,0.11,0.34,2,72.6,69.5,0.12,-1.6,-0.5
12,13,Manchester City,92,590,205,34.7,15.53,5.39,0.14,0.40,9,78.6,71.1,0.12,13.4,11.9
13,14,Manchester Utd,56,590,206,34.9,15.53,5.42,0.09,0.26,3,67.7,65.3,0.11,-11.7,-12.3
14,15,Newcastle Utd,64,565,184,32.6,14.87,4.84,0.10,0.32,6,72.0,67.4,0.12,-8.0,-9.4
15,16,Nott'ham Forest,36,362,111,30.7,9.53,2.92,0.09,0.30,3,39.3,34.6,0.10,-3.3,-1.6
16,17,Southampton,36,413,132,32.0,10.87,3.47,0.08,0.26,2,37.7,34.5,0.09,-1.7,-0.5
17,18,Tottenham,68,512,186,36.3,13.47,4.89,0.12,0.34,5,57.1,52.4,0.10,10.9,10.6
18,19,West Ham,41,466,133,28.5,12.26,3.50,0.08,0.26,6,49.2,43.7,0.10,-8.2,-8.7
19,20,Wolves,28,409,119,29.1,10.76,3.13,0.06,0.21,3,36.8,34.5,0.09,-8.8,-9.5

In [5]:
shooting.describe().round(2)

,Unnamed: 0,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,PK,xG,npxG,npxG/Sh,G-xG,np:G-xG
count,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00
mean,10.50,51.95,475.50,157.85,33.09,12.51,4.15,0.10,0.30,3.70,54.00,50.20,0.11,-2.05,-1.95
std,5.92,17.76,85.00,33.44,2.33,2.24,0.88,0.02,0.06,2.25,13.87,13.34,0.01,7.71,7.98
min,1.00,28.00,358.00,111.00,28.50,9.42,2.92,0.06,0.20,0.00,36.80,34.50,0.09,-13.20,-13.80
25%,5.75,37.00,412.75,133.00,31.40,10.86,3.50,0.09,0.26,2.75,43.72,38.98,0.10,-8.05,-8.88
50%,10.50,49.00,443.00,144.00,33.25,11.66,3.79,0.10,0.30,3.00,49.85,46.50,0.11,-1.65,-1.40
75%,15.25,65.00,571.00,188.00,34.75,15.03,4.94,0.11,0.33,5.25,68.75,65.82,0.12,-1.10,0.20
max,20.00,92.00,607.00,219.00,36.80,15.97,5.76,0.14,0.42,9.00,78.60,71.10,0.13,13.40,11.90

In [6]:
shooting = shooting.drop(columns=['Unnamed: 0'])
shooting.set_index(np.arange(1, len(shooting)+1))

,Squad,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,PK,xG,npxG,npxG/Sh,G-xG,np:G-xG
1,Arsenal,84,589,194,32.9,15.50,5.11,0.14,0.42,3,71.9,69.1,0.12,12.1,11.9
2,Aston Villa,49,427,145,34.0,11.24,3.82,0.11,0.32,3,50.2,47.2,0.11,-1.2,-1.2
3,Bournemouth,37,358,126,35.2,9.42,3.32,0.10,0.29,0,38.6,38.6,0.11,-1.6,-1.6
4,Brentford,56,400,147,36.8,10.53,3.87,0.12,0.33,7,56.8,50.6,0.13,-0.8,-1.6
5,Brighton,68,607,219,36.1,15.97,5.76,0.10,0.28,6,73.3,68.9,0.12,-5.3,-6.9
6,Chelsea,37,481,151,31.4,12.66,3.97,0.07,0.23,3,49.5,47.2,0.10,-12.5,-13.2
7,Crystal Palace,38,423,133,31.4,11.13,3.50,0.09,0.28,1,39.3,36.8,0.09,-1.3,0.2
8,Everton,32,426,143,33.6,11.21,3.76,0.07,0.20,3,45.2,42.8,0.10,-13.2,-13.8
9,Fulham,52,420,137,32.6,11.05,3.61,0.11,0.34,5,46.2,39.1,0.10,5.8,7.9
10,Leeds United,45,459,141,30.7,12.08,3.71,0.10,0.31,1,47.4,45.0,0.10,-2.4,-1.0
11,Leicester City,49,412,142,34.5,10.84,3.74,0.11,0.32,3,50.6,45.8,0.11,-1.6,0.2
12,Liverpool,71,601,203,33.8,15.82,5.34,0.11,0.34,2,72.6,69.5,0.12,-1.6,-0.5
13,Manchester City,92,590,205,34.7,15.53,5.39,0.14,0.40,9,78.6,71.1,0.12,13.4,11.9
14,Manchester Utd,56,590,206,34.9,15.53,5.42,0.09,0.26,3,67.7,65.3,0.11,-11.7,-12.3
15,Newcastle Utd,64,565,184,32.6,14.87,4.84,0.10,0.32,6,72.0,67.4,0.12,-8.0,-9.4
16,Nott'ham Forest,36,362,111,30.7,9.53,2.92,0.09,0.30,3,39.3,34.6,0.10,-3.3,-1.6
17,Southampton,36,413,132,32.0,10.87,3.47,0.08,0.26,2,37.7,34.5,0.09,-1.7,-0.5
18,Tottenham,68,512,186,36.3,13.47,4.89,0.12,0.34,5,57.1,52.4,0.10,10.9,10.6
19,West Ham,41,466,133,28.5,12.26,3.50,0.08,0.26,6,49.2,43.7,0.10,-8.2,-8.7
20,Wolves,28,409,119,29.1,10.76,3.13,0.06,0.21,3,36.8,34.5,0.09,-8.8,-9.5

In [19]:
shooting_sorted = shooting.sort_values('Sh', ascending=False).head(5).reset_index(drop=True)
shooting_sorted.index = shooting_sorted.index + 1
shooting_sorted

,Squad,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,PK,xG,npxG,npxG/Sh,G-xG,np:G-xG
1,Brighton,68,607,219,36.1,15.97,5.76,0.10,0.28,6,73.3,68.9,0.12,-5.3,-6.9
2,Liverpool,71,601,203,33.8,15.82,5.34,0.11,0.34,2,72.6,69.5,0.12,-1.6,-0.5
3,Manchester City,92,590,205,34.7,15.53,5.39,0.14,0.40,9,78.6,71.1,0.12,13.4,11.9
4,Manchester Utd,56,590,206,34.9,15.53,5.42,0.09,0.26,3,67.7,65.3,0.11,-11.7,-12.3
5,Arsenal,84,589,194,32.9,15.50,5.11,0.14,0.42,3,71.9,69.1,0.12,12.1,11.9

Brighton created the most shots in the Premier League last season.

In [18]:
SoT_sorted = shooting.sort_values('SoT', ascending=False).head(5).reset_index(drop=True)
SoT_sorted.index = SoT_sorted.index + 1
SoT_sorted

,Squad,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,PK,xG,npxG,npxG/Sh,G-xG,np:G-xG
1,Brighton,68,607,219,36.1,15.97,5.76,0.10,0.28,6,73.3,68.9,0.12,-5.3,-6.9
2,Manchester Utd,56,590,206,34.9,15.53,5.42,0.09,0.26,3,67.7,65.3,0.11,-11.7,-12.3
3,Manchester City,92,590,205,34.7,15.53,5.39,0.14,0.40,9,78.6,71.1,0.12,13.4,11.9
4,Liverpool,71,601,203,33.8,15.82,5.34,0.11,0.34,2,72.6,69.5,0.12,-1.6,-0.5
5,Arsenal,84,589,194,32.9,15.50,5.11,0.14,0.42,3,71.9,69.1,0.12,12.1,11.9

Brighton also had the most shots on target last season.

In [10]:
shooting_xGsorted = shooting.sort_values('xG', ascending=False).set_index(np.arange(1, len(shooting)+1))
shooting_xGsorted[:5]

,Squad,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,PK,xG,npxG,npxG/Sh,G-xG,np:G-xG
1,Manchester City,92,590,205,34.7,15.53,5.39,0.14,0.40,9,78.6,71.1,0.12,13.4,11.9
2,Brighton,68,607,219,36.1,15.97,5.76,0.10,0.28,6,73.3,68.9,0.12,-5.3,-6.9
3,Liverpool,71,601,203,33.8,15.82,5.34,0.11,0.34,2,72.6,69.5,0.12,-1.6,-0.5
4,Newcastle Utd,64,565,184,32.6,14.87,4.84,0.10,0.32,6,72.0,67.4,0.12,-8.0,-9.4
5,Arsenal,84,589,194,32.9,15.50,5.11,0.14,0.42,3,71.9,69.1,0.12,12.1,11.9

In [11]:
top_5_gls = shooting.nlargest(5, 'Gls').reset_index(drop=True)
top_5_gls.index = top_5_gls.index + 1
top_5_gls
top_5_teams = shooting.sort_values('Gls', ascending=False).head(5).reset_index(drop=True)
top_5_teams.index = top_5_teams.index + 1
top_5_teams

,Squad,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,PK,xG,npxG,npxG/Sh,G-xG,np:G-xG
1,Manchester City,92,590,205,34.7,15.53,5.39,0.14,0.40,9,78.6,71.1,0.12,13.4,11.9
2,Arsenal,84,589,194,32.9,15.50,5.11,0.14,0.42,3,71.9,69.1,0.12,12.1,11.9
3,Liverpool,71,601,203,33.8,15.82,5.34,0.11,0.34,2,72.6,69.5,0.12,-1.6,-0.5
4,Tottenham,68,512,186,36.3,13.47,4.89,0.12,0.34,5,57.1,52.4,0.10,10.9,10.6
5,Brighton,68,607,219,36.1,15.97,5.76,0.10,0.28,6,73.3,68.9,0.12,-5.3,-6.9

In [12]:
overperformed_xG = shooting[shooting['Gls'] > shooting['xG']].reset_index(drop=True)
overperformed_xG.index = overperformed_xG.index + 1
overperformed_xG

,Squad,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,PK,xG,npxG,npxG/Sh,G-xG,np:G-xG
1,Arsenal,84,589,194,32.9,15.50,5.11,0.14,0.42,3,71.9,69.1,0.12,12.1,11.9
2,Fulham,52,420,137,32.6,11.05,3.61,0.11,0.34,5,46.2,39.1,0.10,5.8,7.9
3,Manchester City,92,590,205,34.7,15.53,5.39,0.14,0.40,9,78.6,71.1,0.12,13.4,11.9
4,Tottenham,68,512,186,36.3,13.47,4.89,0.12,0.34,5,57.1,52.4,0.10,10.9,10.6

In [13]:
underperformed_xG = shooting[shooting['xG'] > shooting['Gls']].reset_index(drop=True)
underperformed_xG.index = underperformed_xG.index + 1
underperformed_xG

,Squad,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,PK,xG,npxG,npxG/Sh,G-xG,np:G-xG
1,Aston Villa,49,427,145,34.0,11.24,3.82,0.11,0.32,3,50.2,47.2,0.11,-1.2,-1.2
2,Bournemouth,37,358,126,35.2,9.42,3.32,0.10,0.29,0,38.6,38.6,0.11,-1.6,-1.6
3,Brentford,56,400,147,36.8,10.53,3.87,0.12,0.33,7,56.8,50.6,0.13,-0.8,-1.6
4,Brighton,68,607,219,36.1,15.97,5.76,0.10,0.28,6,73.3,68.9,0.12,-5.3,-6.9
5,Chelsea,37,481,151,31.4,12.66,3.97,0.07,0.23,3,49.5,47.2,0.10,-12.5,-13.2
6,Crystal Palace,38,423,133,31.4,11.13,3.50,0.09,0.28,1,39.3,36.8,0.09,-1.3,0.2
7,Everton,32,426,143,33.6,11.21,3.76,0.07,0.20,3,45.2,42.8,0.10,-13.2,-13.8
8,Leeds United,45,459,141,30.7,12.08,3.71,0.10,0.31,1,47.4,45.0,0.10,-2.4,-1.0
9,Leicester City,49,412,142,34.5,10.84,3.74,0.11,0.32,3,50.6,45.8,0.11,-1.6,0.2
10,Liverpool,71,601,203,33.8,15.82,5.34,0.11,0.34,2,72.6,69.5,0.12,-1.6,-0.5
11,Manchester Utd,56,590,206,34.9,15.53,5.42,0.09,0.26,3,67.7,65.3,0.11,-11.7,-12.3
12,Newcastle Utd,64,565,184,32.6,14.87,4.84,0.10,0.32,6,72.0,67.4,0.12,-8.0,-9.4
13,Nott'ham Forest,36,362,111,30.7,9.53,2.92,0.09,0.30,3,39.3,34.6,0.10,-3.3,-1.6
14,Southampton,36,413,132,32.0,10.87,3.47,0.08,0.26,2,37.7,34.5,0.09,-1.7,-0.5
15,West Ham,41,466,133,28.5,12.26,3.50,0.08,0.26,6,49.2,43.7,0.10,-8.2,-8.7
16,Wolves,28,409,119,29.1,10.76,3.13,0.06,0.21,3,36.8,34.5,0.09,-8.8,-9.5

## Possesion

In [22]:
possession = pd.read_csv('/Users/Ruffio/Documents/Prem/team/possession_premier_league_stats.csv')
possession = possession.drop(columns=['Unnamed: 0'])
possession

,Squad,Poss,90s,Touches,Def Pen,Def 3rd,Mid 3rd,Att 3rd,Att Pen,Att,...,Tkld,Tkld%,Carries,PrgDist,PrgC,1/3,CPA,Mis,Dis,PrgR
0,Arsenal,59.3,38.0,25909,1994,6632,11452,8015,1296,751,...,290,38.6,15924,44202,824,583,281,526,378,2024
1,Aston Villa,49.3,38.0,21501,2783,7912,9077,4706,746,681,...,279,41.0,12294,33156,637,434,174,565,371,1227
2,Bournemouth,40.4,38.0,19950,2934,8004,7933,4256,699,735,...,344,46.8,10336,27419,504,388,144,589,367,986
3,Brentford,43.8,38.0,19750,2632,7290,7802,4835,827,597,...,248,41.5,10408,23987,392,299,102,520,335,1121
4,Brighton,60.2,38.0,26728,2471,7844,12213,6873,1102,726,...,279,38.4,16331,43965,809,547,250,558,324,1828
5,Chelsea,58.7,38.0,27166,2564,8461,12057,6850,958,838,...,352,42.0,16538,43596,829,622,216,568,381,1729
6,Crystal Palace,46.3,38.0,21713,2580,7668,9275,4991,766,784,...,314,40.1,11687,30015,556,393,206,643,457,1238
7,Everton,42.8,38.0,20233,2527,7219,8417,4830,742,669,...,296,44.2,10479,27858,500,391,137,605,300,1042
8,Fulham,48.8,38.0,22162,2563,7462,9521,5416,758,599,...,239,39.9,12250,35319,662,472,124,535,379,1316
9,Leeds United,47.0,38.0,21642,2125,6971,9290,5587,796,688,...,328,47.7,11342,27062,555,379,146,602,421,1418
10,Leicester City,47.7,38.0,23125,2681,8408,10293,4641,688,620,...,245,39.5,12503,31619,580,363,175,548,313,1294
11,Liverpool,60.8,38.0,28399,2310,8119,13329,7149,1252,691,...,282,40.8,17146,41527,719,569,234,584,413,1974
12,Manchester City,64.7,38.0,29895,2170,7410,14372,8301,1277,704,...,239,33.9,19122,56216,988,754,279,406,298,2054
13,Manchester Utd,53.7,38.0,24848,2639,8093,10389,6570,1036,730,...,338,46.3,14245,37126,711,515,239,497,293,1578
14,Newcastle Utd,52.3,38.0,22106,2088,6757,9053,6516,1161,783,...,322,41.1,12021,32968,694,493,227,576,363,1599
15,Nott'ham Forest,37.6,38.0,17912,2715,7420,6953,3755,611,569,...,235,41.3,8674,24008,435,308,111,537,275,847
16,Southampton,44.5,38.0,21095,2639,7452,8998,4880,712,759,...,318,41.9,11324,29821,588,453,131,567,400,1112
17,Tottenham,50.0,38.0,23836,2734,8571,10329,5135,842,666,...,288,43.2,13679,36842,692,465,189,521,356,1436
18,West Ham,42.1,38.0,20410,2362,6898,8703,4993,756,614,...,266,43.3,10540,28247,615,413,166,458,357,1266
19,Wolves,49.9,38.0,22539,2921,8544,9262,4960,686,772,...,302,39.1,12373,35065,610,421,142,516,327,1331

In [28]:
poss_pct = possession.sort_values(by='Poss', ascending=False)
poss_pct.reset_index(drop=True, inplace=True)
poss_pct.index = poss_pct.index + 1
poss_pct.head()

,Squad,Poss,90s,Touches,Def Pen,Def 3rd,Mid 3rd,Att 3rd,Att Pen,Att,...,Tkld,Tkld%,Carries,PrgDist,PrgC,1/3,CPA,Mis,Dis,PrgR
1,Manchester City,64.7,38.0,29895,2170,7410,14372,8301,1277,704,...,239,33.9,19122,56216,988,754,279,406,298,2054
2,Liverpool,60.8,38.0,28399,2310,8119,13329,7149,1252,691,...,282,40.8,17146,41527,719,569,234,584,413,1974
3,Brighton,60.2,38.0,26728,2471,7844,12213,6873,1102,726,...,279,38.4,16331,43965,809,547,250,558,324,1828
4,Arsenal,59.3,38.0,25909,1994,6632,11452,8015,1296,751,...,290,38.6,15924,44202,824,583,281,526,378,2024
5,Chelsea,58.7,38.0,27166,2564,8461,12057,6850,958,838,...,352,42.0,16538,43596,829,622,216,568,381,1729

In [30]:
att3rd_possesion = possession.sort_values(by='Att 3rd', ascending=False)
att3rd_possesion.reset_index(drop=True, inplace=True)
att3rd_possesion.index = att3rd_possesion.index + 1
att3rd_possesion.head()

,Squad,Poss,90s,Touches,Def Pen,Def 3rd,Mid 3rd,Att 3rd,Att Pen,Att,...,Tkld,Tkld%,Carries,PrgDist,PrgC,1/3,CPA,Mis,Dis,PrgR
1,Manchester City,64.7,38.0,29895,2170,7410,14372,8301,1277,704,...,239,33.9,19122,56216,988,754,279,406,298,2054
2,Arsenal,59.3,38.0,25909,1994,6632,11452,8015,1296,751,...,290,38.6,15924,44202,824,583,281,526,378,2024
3,Liverpool,60.8,38.0,28399,2310,8119,13329,7149,1252,691,...,282,40.8,17146,41527,719,569,234,584,413,1974
4,Brighton,60.2,38.0,26728,2471,7844,12213,6873,1102,726,...,279,38.4,16331,43965,809,547,250,558,324,1828
5,Chelsea,58.7,38.0,27166,2564,8461,12057,6850,958,838,...,352,42.0,16538,43596,829,622,216,568,381,1729